* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #ffffff;
    width: 80%;
    margin: 0px auto;
}

/* HEADER */
header {
    background: #f2e9e4;
    height: 150px;
    line-height: 150px; /*Centrar verticalmente*/
    margin: 0px auto;
    text-align: left;    
    border:2px solid;
}

header img{
    width: 50px;
    vertical-align:middle;
    margin-left: 20px;
}


header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    display: inline;
    vertical-align:middle;
    margin-left: 5px;
}

#buscar {
    float: right;
    vertical-align:middle;
    margin-right: 20px;
}

.header__input{
    font-size: 20px;
}


/* NAV */
.nav {
    font-family: 'Raleway', sans-serif; 
    border: 2px solid;
}

/* NOTICIA RELEVANTE */
.relevante {
    border: 2px solid;
}

/* NOTICIAS */
.noticias {
    border: 2px solid;
    width: 70%;
    float: left;
    padding: 15px;
}

/* MINUTO A MINUTO */
.aside {
    border: 2px solid;
    width: 30%;
    float: right;
    padding: 15px;
}

/* FOOTER */
.footer {
    border: 2px solid;
}
