* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #ffffff;
    width: 70%;
    margin: 0px auto;
}

/* HEADER */
header {
    background: #f2e9e4;
    height: 100px;
    margin: 0px auto;
    border: 1px solid;
}

.header__img {
    width: 50px;
    height: 50PX;
    vertical-align: middle;
    line-height: 100px; /*Centrar verticalmente*/
    margin-left: 20px;
}

.header__h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;    
    display: inline;
    text-align: left;
    vertical-align:middle;
    line-height: 100px; /*Centrar verticalmente*/
    margin-left: 5px;
}

#buscar {
    float: right;
    line-height: 100px; /*Centrar verticalmente*/
    margin-right: 20px;
}

.header__input{
    font-size: 15px;
}

/* NAV */
.nav {
    height: 30px;
    font-family: 'Raleway', sans-serif; 
    font-size: 15px;
    text-align: center;
}

.nav__ul {
    text-align: center;
}

.nav__ul--li {
    list-style: none;
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav__a {
    text-decoration: none;
    color: rgb(58, 58, 77);
}

.nav__a:hover{
    color: rgb(58, 58, 77);
    border-bottom: black solid;
}

/* NOTICIA RELEVANTE */
.relevante {
    background: #ebe5e1;
    height: 250px;
    margin: 0px auto;
}

.relevante__figure {
    vertical-align:middle;
}

/* NOTICIAS */
.noticias {
    border: 2px solid;
    width: 70%;
    float: left;
    padding: 15px;
}

/* MINUTO A MINUTO */
.aside {
    border: 2px solid;
    width: 30%;
    float: right;
    padding: 15px;
}

/* FOOTER */
.footer {
    border: 2px solid;
}
